<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!--================= Meta tag =================-->
    <meta charset="utf-8" />
    <title>Tradersconvention - 2024</title>
    <meta name="keywords" content="" />
    <meta name="description" content="24 to 26 Jan 2025 HYDERABAD" />
    <meta name="description" content="" />
    <!-mx-auto-================= Responsive Tag=================-->
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--================= Favicon =================-->
    <link rel="apple-touch-icon" href="images/fav.png" />
    <link rel="shortcut icon" type="image/x-icon" href="images/fav.png" />
    <!--================= Bootstrap V5 css =================-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="/css/bootstrap.min.css?c=-62170005208"
      media="all"
      rel="stylesheet"
    />
    <link href="/css/menus.css?c=-62170005208" media="all" rel="stylesheet" />
    <link href="/css/animate.css?c=-62170005208" media="all" rel="stylesheet" />
    <link
      href="/css/owl.carousel.css?c=-62170005208"
      media="all"
      rel="stylesheet"
    />
    <link
      href="/css/elegant-icon.css?c=-62170005208"
      media="all"
      rel="stylesheet"
    />
    <link
      href="/css/magnific-popup.css?c=-62170005208"
      media="all"
      rel="stylesheet"
    />
    <link
      href="/css/animations.css?c=-62170005208"
      media="all"
      rel="stylesheet"
    />
    <link href="/css/style.css?c=-62170005208" media="all" rel="stylesheet" />
    <link
      href="/css/custom-spacing.css?c=-62170005208"
      media="all"
      rel="stylesheet"
    />
    <link
      href="/css/responsive.css?c=-62170005208"
      media="all"
      rel="stylesheet"
    />
    <style>
      .banner {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url('/images/banner/hyderabadimg.jpg');
      }
    </style>
  </head>
  <style>
    .iconsty {
      text-align: center;
      /* Centers the icon horizontally */
    }

    .icon-link {
      display: inline-block;
      /* Ensures the anchor tag fits around the icon */
      line-height: 0;
      /* Removes extra space below the icon */
    }

    .icon-link i {
      font-size: 20px;
      /* Adjusts the size of the icon */
      display: inline-block;
      /* Allows vertical alignment */
      vertical-align: middle;
      /* Centers the icon vertically in relation to its container */
      padding-bottom: 15px;
      /* Adjusts space below the icon */
    }
  </style>
  <style>
    .d-flex {
      display: flex;
    }

    .offering-item {
      margin-bottom: 10px; /* optional: for some space between items */
    }

    .pink-icon {
      color: #f71dbf; /* Set the icon color to pink */
      margin-right: 8px; /* Add some space between icon and text */
      font-size: 20px;
    }

    .item {
      flex-grow: 1; /* Allow text to grow while keeping the icon size fixed */
    }
  </style>
  <style>
    .banner {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/images/banner/hyderabadimg.jpg');
    }

    @media (max-width: 991px) {
      .react-inner-menus {
        display: none;
      }

      .react-inner-menus.active {
        display: block;
      }

      #menu-btn.active .icon-bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }

      #menu-btn.active .icon-bar:nth-child(2) {
        opacity: 0;
      }

      #menu-btn.active .icon-bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  </style>
  <body>
    <!--================= Preloader Section Start Here =================-->
    <!-- <div id="react__preloader">
    <div id="react__circle_loader"></div>
    <div class="react__loader_logo"><img src="/images/preload.png" alt="Preload"></div>
  </div> -->
    <!--================= Preloader Section End Here =================--><!--================= Header Section Start Here =================-->
    <header id="react-header" class="react-header react-header-two">
      <div class="menu-part">
        <div class="container">
          <div class="react-main-menu">
            <nav>
              <div class="menu-toggle">
                <div class="logo">
                  <a href="/" class="logo-text">
                    <img src="/images/logo2.png" alt="logo" />
                  </a>
                </div>
                <button type="button" id="menu-btn">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="react-inner-menus">
                <ul id="nav-menu" class="react-menus react-sub-shadow">
                  <!-- Menu items will be dynamically added here -->
                </ul>
                <div class="searchbar-part">
                  <div class="react-logins">
                    <a href="/pricing"
                      >Buy Ticket Now
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-right"
                      >
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <!--================= Header Section End Here =================--><!--================= Wrapper Start Here =================-->
    <div class="react-wrapper">
      <div class="react-wrapper-inner">
        <!--================= Slider Section Start Here =================-->
        <div class="react-slider-part">
          <section class="banner">
            <div class="banner-inner">
              <h1>
                TRADERS CONVENTION 2.0<br />
                <span class="section-pretitle"
                  >2nd edition. from 24 to 26 Jan 2025 HYDERABAD</span
                >
              </h1>
              <h4>EVENT WILL START IN</h4>
              <div id="normal-countdown" data-date="2025/01/24 10:00:00"></div>
              <a href="/pricing" class="buybtn"
                >Buy Ticket Now
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewbox="0 0 24 24"
                  fill="none"
                  stroke="currentcolor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-arrow-right"
                >
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <polyline points="12 5 19 12 12 19"></polyline></svg
              ></a>
            </div>
          </section>
        </div>
        <!--================= Slider Section End Here =================--><!--=================  About Section Start Here ================= -->
        <div class="about__area about__area_one p-relative pt---100 pb---70">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="about__content">
                  <!-- Content will be dynamically inserted here -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--================= About Section End Here ================= --><!--================= Upcoming Event Section Start Here =================-->
        <div class="react-upcoming__event blog__area pb---100">
          <div class="container">
            <div class="react__title__section text-center">
              <h5>Listen to the</h5>
              <h2 class="react__tittle">Event Speakers</h2>
            </div>
            <div class="instructors___page">
              <div id="speakers-container" class="row"></div>
            </div>
          </div>
        </div>
      </div>
      <!--================= Upcoming Event Section End Here =================--><!--=================  Pricing Start Here  =================-->
      <div class="pricing-section home-five pt---120">
        <div class="pricing-section-header-bg"></div>
        <div class="container">
          <div class="section-title-area home-five text-center">
            <div class="section-pretitle">
              We’re offering unique pricing&nbsp;plans
            </div>
            <div class="section-title">Pricing & Offerings Plan</div>
          </div>
          <div class="row justify-content-center" id="pricing-cards">
            <!-- Pricing cards will be dynamically inserted here -->
          </div>
        </div>
      </div>

      <!--=================  Pricing End Here  =================--><!--================= Clients Section Start Here =================-->
      <!-- <div class="react-clients react-clientso pt---120 pb---120 mt---102">
    <div class="container">
      <div class="react__title__section text-center">
        <h6 class="react__subtitle">Graat Words About Convention.</h6>
        <h2 class="react__tittle"> What our clients say about </h2>
      </div>
      <div class="container">
        <div class="client-slider owl-carousel">
          <div class="single-client">
            <div class="client-bottom"> <span class="client-author"><img src="assets/images/testimonial/testimonial.png" alt="Testimonials"> </span> </div>
            <div class="client-content"> <span class="client-title">Justin Case <em> Student</em></span>
              <p>Nulla porttitor accumsan tincidunt. vamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in.</p>
              <div class="testimonial__ratings"> <em class="icon_star"></em> <em class="icon_star"></em> <em class="icon_star"></em> <em class="icon_star"></em> <em class="icon_star_alt"></em> <span><em>4.9</em> (14 Reviews)</span> </div>
              <img class="comma" src="assets/images/testimonial/coma.png" alt="image"> </div>
          </div>
          <div class="single-client">
            <div class="client-bottom"> <span class="client-author"><img src="assets/images/testimonial/testimonial.png" alt="Testimonials"> </span> </div>
            <div class="client-content"> <span class="client-title">Justin Case <em> Student</em></span>
              <p>Nulla porttitor accumsan tincidunt. vamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in.</p>
              <div class="testimonial__ratings"> <em class="icon_star"></em> <em class="icon_star"></em> <em class="icon_star"></em> <em class="icon_star"></em> <em class="icon_star_alt"></em> <span><em>4.9</em> (14 Reviews)</span> </div>
              <img class="comma" src="assets/images/testimonial/coma.png" alt="image"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
      <!--================= Clients Section End Here =================--><!--================= Blog Section Start Here =================-->
      <div class="react-blog__area blog__area pt---90 pb---120">
        <div class="container blog__width">
          <div class="react__title__section text-center">
            <!--<h2 class="react__tittle"> News and Blogs </h2>-->
          </div>
          <div class="row"></div>
        </div>
      </div>
      <!--================= Blog Section End Here =================-->
    </div>
    <!--================= Wrapper End Here =================-->
    <!--================= Footer Section Start Here =================-->
    <footer
      id="react-footer"
      class="react-footer react-footer-two pt---100 mt---100"
    >
      <div class="footer-top">
        <div class="container">
          <div class="footer-top-cta">
            <div class="row">
              <div class="col-lg-8">
                <h3>
                  Collaborating With Us as a sponsor for the Traders Convention
                </h3>
              </div>
              <div class="col-lg-4 text-right">
                <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal"
                  >Connect Now<svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewbox="0 0 24 24"
                    fill="none"
                    stroke="currentcolor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-arrow-right"
                  >
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <polyline points="12 5 19 12 12 19"></polyline></svg
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="footer-widget text-center">
                <!--<h3 class="footer-title">About Us</h3>-->
                <div class="footer-menu">
                  <ul style="" id="usefullinks" class="footer-menu">
                    <li class="first">
                      <a href="/about">About</a>
                    </li>
                    <li>
                      <a href="/agenda">Agenda</a>
                    </li>
                    <li>
                      <a href="/pricing">Pricing</a>
                    </li>
                    <li>
                      <a href="/speaker">Speakers</a>
                    </li>
                    <li>
                      <a href="/sponsor">Sponsors</a>
                    </li>
                    <li>
                      <a href="/venue">Venue</a>
                    </li>
                    <li>
                      <a href="/privacy-policy">Privacy Policy</a>
                    </li>
                    <li>
                      <a href="/terms-condition"> Terms & Conditions</a>
                    </li>
                    <li class="last">
                      <a href="/Refund-Policy">Refund Policy</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-3 md-mb-30">
      <div class="footer-widget footer-widget-3">
        <h3 class="footer-title">Useful Links</h3>
        <div class="footer-menu">
                      <ul>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="registration.html">Registration</a></li>
            <li><a href="Terms-Conditions.html">Terms & Conditions</a></li>
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="refund-policy.html">Refund Policy</a></li>
            <li><a href="blog.html.html">News & Blog</a></li>
            <li><a href="faq.html">FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>-->
            <!-- <div class="col-lg-3">
      <div class="footer-widget footer-widget-4">
        <h3 class="footer-title">Newsletter</h3>
        <div class="footer3__form">
          <p>Get the latest todayConvention news <br>
            delivered to you inbox</p>
          <form action="#">
            <input type="email" placeholder="Enter your email">
            <button class="footer3__form-1"> <i class="arrow_right"></i> </button>
          </form>
        </div>
      </div>
    </div>-->
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="react-copy-left">
            © 2024 <a href="#">tradersconvention.com</a> All Rights Reserved
          </div>
          <div class="react-copy-right">
            <ul class="social-links">
              <li class="follow">Follow us</li>
              <li>
                <a
                  href="https://twitter.com/krishstocks"
                  target="_blank"
                  aria-label="Twitter"
                >
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/krishstocks/"
                  target="_blank"
                  aria-label="LinkedIn"
                >
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/KRISHSTOCKS/"
                  target="_blank"
                  aria-label="Instagram"
                >
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!--================= Footer Section End Here =================--><!-- Modal -->
    <div
      class="modal fade"
      id="loginModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Traders Convention as a Sponsor?
            </h5>
          </div>
          <div class="modal-body">
            <!-- Form Fields -->
            <div class="form-floating mb-2">
              <input
                type="email"
                class="form-control"
                id="emailInput"
                placeholder="name@example.com"
              />
              <label for="emailInput">Email address</label>
            </div>
            <div class="form-floating mb-2">
              <input
                type="text"
                class="form-control"
                id="nameInput"
                placeholder="Name"
              />
              <label for="nameInput">Name</label>
            </div>
            <div class="form-floating mb-2">
              <input
                type="text"
                class="form-control"
                id="designationInput"
                placeholder="Designation"
              />
              <label for="designationInput">Designation</label>
            </div>
            <div class="form-floating mb-2">
              <input
                type="text"
                class="form-control"
                id="contactInput"
                placeholder="Contact"
              />
              <label for="contactInput">Contact</label>
            </div>
            <div class="form-floating mb-2">
              <input
                type="text"
                class="form-control"
                id="websiteInput"
                placeholder="Company website"
              />
              <label for="websiteInput">Company website</label>
            </div>
            <div class="form-floating mb-2">
              <input
                type="text"
                class="form-control"
                id="companyNameInput"
                placeholder="Company name"
              />
              <label for="companyNameInput">Company name</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="submitQuery">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
    <a
      id="whatsapp-icon"
      href="https://api.whatsapp.com/send?phone=918121218516"
      ><img
        src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png"
        alt="Need Help? Chat with us"
    /></a>
    <!--================= Scroll to Top Start =================-->
    <div id="backscrollUp" class="home"></div>
    <!--================= Scroll to Top End =================-->
    <script
      src="/js/jquery.min.js?c=-62170005208"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/js/modernizr-2.8.3.min.js?c=-62170005208"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/js/bootstrap.min.js?c=-62170005208"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/js/owl.carousel.min.js?c=-62170005208"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/js/jquery.magnific-popup.min.js?c=-62170005208"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/js/jquery.counterup.min.js?c=-62170005208"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/js/waypoints.min.js?c=-62170005208"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/js/menus.js?c=-62170005208"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/js/plugins.js?c=-62170005208"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/js/main.js?c=-62170005208"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/js/jquery.countdown.min.js?c=-62170005208"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script
      src="/js/scripts.js?c=-62170005208"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <!--================= Jquery latest version =================-->
    <!-- Include Font Awesome for WhatsApp icon -->

    <script
      src="https://kit.fontawesome.com/your-font-awesome-kit.js"
      crossorigin="anonymous"
    ></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        fetch('https://backend.gaganahuja.com/api/v1/speakers')
          .then((response) => response.json())
          .then((responseData) => {
            if (
              responseData.status === 200 &&
              Array.isArray(responseData.data)
            ) {
              const speakersContainer =
                document.getElementById('speakers-container');
              responseData.data.forEach((speaker) => {
                if (speaker.isActive && speaker.type === 'speaker') {
                  const speakerElement = createSpeakerElement(speaker);
                  speakersContainer.appendChild(speakerElement);
                }
              });
            } else {
              console.error('Unexpected API response structure:', responseData);
            }
          })
          .catch((error) => console.error('Error fetching speakers:', error));
      });

      function createSpeakerElement(speaker) {
        const speakerDiv = document.createElement('div');
        speakerDiv.className = 'speeker_fixed';

        // Transform the image path
        const imagePath = transformImagePath(speaker.img);

        speakerDiv.innerHTML = `
  <div class="instructor__content">
    <div class="instructor__image">
      <img src="${imagePath}" alt="${speaker.name}" loading="lazy">
      <div class="content__hover">
        <ul>
          <li>
            <h5 class="white-color">${speaker.name}</h5>
          </li>
        </ul>
<p class="iconsty">
  <a href="/profile/${speaker._id}" class="icon-link">
    <i class="fa fa-arrow-right"></i>
  </a>
</p>

      </div>
    </div>
    <div class="bottom-content">
      <h4><a href="#">${speaker.name}</a></h4>
    </div>
  </div>
`;

        return speakerDiv;
      }

      function transformImagePath(originalPath) {
        // Extract the filename from the original path
        const filename = originalPath.split('/').pop();

        // Construct the new URL
        return `https://backend.gaganahuja.com/uploads/${filename}`;
      }
    </script>
    <script>
      document
        .getElementById('submitQuery')
        .addEventListener('click', async function () {
          // Gather form data
          const email = document.getElementById('emailInput').value;
          const name = document.getElementById('nameInput').value;
          const designation = document.getElementById('designationInput').value;
          const contact = document.getElementById('contactInput').value;
          const website = document.getElementById('websiteInput').value;
          const companyName = document.getElementById('companyNameInput').value;

          // Create the query object
          const queryData = {
            name: name,
            Designation: designation,
            companyName: companyName,
            Contact: contact,
            email: email,
            website: website,
          };

          try {
            // Send POST request to API
            const response = await fetch(
              'https://backend.gaganahuja.com/api/v1/queries',
              {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify(queryData),
              }
            );

            // Parse response
            const result = await response.json();
            console.log(result);

            // Check if the query was created successfully
            if (response.ok) {
              alert('Query created successfully!');

              // Clear form fields after successful submission
              document.getElementById('emailInput').value = '';
              document.getElementById('nameInput').value = '';
              document.getElementById('designationInput').value = '';
              document.getElementById('contactInput').value = '';
              document.getElementById('websiteInput').value = '';
              document.getElementById('companyNameInput').value = '';
            } else {
              alert('Error creating query. Please try again.');
            }
          } catch (error) {
            console.error('Error:', error);
            alert('Error creating query. Please try again.');
          }
        });
    </script>
    <script>
      // Fetch the pricing data from the backend API
      fetch('https://backend.gaganahuja.com/api/v1/eventPricing')
        .then((response) => response.json())
        .then((data) => {
          const pricingContainer = document.getElementById('pricing-cards');

          // Loop over each pricing plan and create card HTML
          data.forEach((plan) => {
            const offerings = plan.offerings
              .map(
                (offering) => `
  <div class="item"> <i class="icon_check_alt2"></i>
    ${offering.description}
  </div>
`
              )
              .join('');
            const priceCard = `
                  <div class="col-xl-4 col-md-4">
                      <div class="price-card">
                          <div class="price-plan">
                              <div class="contents shape1 circle1">
                                  <div class="plan-type">${plan.titleTop}</div>
                                  <div class="price shapeTwo shapethree">${
                                    plan.title
                                  }</div>
                              </div>
                          </div>
                          <div class="price-details">
                              ${offerings}
                              <div class="item">
                                 <i class="icon_check_alt2"></i>  <strong class="highlight-price">Current Price: ${
                                   plan.price
                                 }/-</strong>
                              </div>
                                <button class="price-btn">
                               ${
                                 plan.paymentLink
                                   ? `<a href="${plan.paymentLink}" >Buy Now</a>`
                                   : `<a href='https://traderconvention.gaganahuja.com/register/${plan._id}'>BOOK NOW</a>`
                               }
                              </button>
                          </div>
                      </div>
                  </div>
              `;
            // Append each price card to the container
            pricingContainer.insertAdjacentHTML('beforeend', priceCard);
          });
        })
        .catch((error) => {
          console.error('Error fetching pricing data:', error);
        });
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        fetch('https://backend.gaganahuja.com/api/v1/home/')
          .then((response) => response.json())
          .then((data) => {
            if (data && data.length > 0) {
              const homeContent = data[0].home;
              // Parse the string to create a DOM element
              const parser = new DOMParser();

              // Find the about content section
              const aboutContentSection =
                document.querySelector('.about__content');
              if (aboutContentSection) {
                // Replace the content
                aboutContentSection.innerHTML = homeContent;
              }
            }
          })
          .catch((error) =>
            console.error('Error fetching home content:', error)
          );
      });
    </script>
    <script>
      // Fetch the nav data from the API
      fetch('https://backend.gaganahuja.com/api/v1/navigation')
        .then((response) => response.json())
        .then((data) => {
          const navMenu = document.getElementById('nav-menu');

          // Iterate through the array of nav items
          data.forEach((item) => {
            if (item.isActive) {
              // Render only active items
              const listItem = document.createElement('li');
              const anchor = document.createElement('a');
              anchor.href = item.path; // Set the path
              anchor.textContent = item.label; // Set the label as text

              listItem.appendChild(anchor);
              navMenu.appendChild(listItem);
            }
          });
        })
        .catch((error) => {
          console.error('Error fetching navigation data:', error);
        });
    </script>
  </body>
</html>
